<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <connectionStrings>
    <add name="MainDB" connectionString="Database=dev_runeslinger;Data Source=127.0.0.1;User Id=root;Password=Krabos1987!"/>
  </connectionStrings>
  
  <!-- HIBERNATE CONFIGURATION -->
  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">
        Database=dev_runeslinger;Data Source=localhost;User Id=root;Password=Krabos1987!
      </property>
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    </session-factory>
  </hibernate-configuration>
  <!-- END OF HIBERNATE CONFIGURATION -->

</configuration>
